<%- include("./components/_header",{valueCart:valueCart}) -%>

<style>
    .btn {
        box-shadow: 1px 1px 15px darkviolet;
    }

    .body {
      background-color: darkviolet;
    }

    img {
        width: 100%;
    }
</style>

<script>
    function addInCart(productId) {

    }
</script>

<form></form>
<% for(let product of products) { 
    let value = product.Value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})
%>
<div class="card mt-3 bg-dark text-white">
    <div class="row no-gutters">
        <div class="p-2 rounded col-md-2">
            <img src="/img/product/<%= product.Img %>">
        </div>

        <div class="col-md-8">
            <div class="card-body te">
                <h5 class="card-title"><%= product.Title %></h5>
                <p class="card-text"><%= product.Value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
                        

                <div class="d-flex justify-content-between" >
                <a href="#" class="btn btn-danger align-self-center"  style="height: min-content;">Delete</a><form>
                    
                        <div class="form-inline ml-3">
                            <label for="quantidade">Quantidade: &nbsp;&nbsp;</label>
                            <input value="1" type="number" class="form-control" style="width: 30%;" id="quantidade">
                        </div>                    
                                    
                </div>


            </div>
        </div>
    </div>
</div>

    

<% } %> 
</form>
<a class="btn btn-dark mt-3" href="/clear-cart" >Limpar Carrinho</a>

<%- include("./components/_footer") -%>